<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rkalonji.lordofthetrivia">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- This meta-data tag is required to use Google Play Services. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <provider android:name=".TriviasProvider"
            android:authorities="com.example.rkalonji.lordofthetrivia"
            android:exported="true"
        />

        <!-- Alarm service used to schedule job retrieving updates from server -->
        <receiver
            android:name=".Sync.AlarmReceiver"
            android:process=":remote"/>

        <receiver android:name="com.example.rkalonji.lordofthetrivia.WidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.example.rkalonji.lordofthetrivia.WidgetProvider.ACTION_LAUNCH_CATEGORIES_FRAGMENT"/>
                <action android:name="com.example.rkalonji.lordofthetrivia.WidgetProvider.ACTION_LAUNCH_SETS_FRAGMENT"/>
                <action android:name="com.example.rkalonji.lordofthetrivia.WidgetProvider.ACTION_SCORES_FRAGMENT"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_lottr_info" />
        </receiver>

        <!-- Widget service -->
        <service
            android:name=".WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />


        <service
            android:name=".AlarmService"
            android:exported="false"/>

    </application>

</manifest>